:root {
  --colormain: #082297;
  --colorother1: #1078be;
  --colorother2: #730650;
}

.aboutimg {
  display: block;
  border: 5px solid white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 13em;
}



body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "main"
  "footer";
  margin: 0;
  width: 100vw;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.connect {
  display: grid;
  grid-area: connect;

  align-content: center;
  width: 100%;
  grid-template-areas: 
  "emailIcon linkedinIcon githubIcon";

  transition: 2s;
  transform: scale(1);
}


.connect.scaleImg {
  transition: 1000ms;
  transform: scale(.75);
  transform-origin: bottom;
  transition-timing-function: ease-out;
}


.connect.scaleImg2 {
  transition: 1000ms;
  transform: scale(.5);
  transform-origin: bottom;
  transition-timing-function: ease-out;
}


#email {
  padding-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  animation-name: email;
  animation-duration: 3s;
  grid-area: emailIcon;
  justify-self: start;
  transform: scale(1);
  transition-duration: .25s;
  transition-timing-function: linear;
}


#email img {
  height: 100%;
  position: sticky;
  top: 10;
}


#linkedin img {
  height: 100%;
  position: sticky;
  top: 10;
}


#github img {
  height: 100%;
  position: sticky;
  top: 10;
}


@keyframes email {

  from {
    opacity: 0%;
  }
  
  to {
    opacity: 100%;
  }
  
  }


#email:hover {
  transform: scale(1.15);
  transition-duration: .33s;
  transition-timing-function: linear;
}

#email a{
  transition: 2s;
}


#linkedin {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 10px;
  animation-name: linkedin;
  animation-duration: 3s;
  grid-area: linkedinIcon;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.0);
  transition-duration: .25s;
  transition-timing-function: linear;
  
}

@keyframes linkedin {

  from {
    opacity: 0%;
  }
  
  to {
    opacity: 100%;
  }
  
  }


#linkedin:hover {
  transform: scale(1.15);
  transition-duration: .33s;
  transition-timing-function: linear;
}


#github {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 10px;
  animation-name: github;
  animation-duration: 3s;
  grid-area: githubIcon;
  justify-self: end;
  transform: scale(1.0);
  transition-duration: .25s;
  transition-timing-function: linear;
}


@keyframes github {

  from {
    opacity: 0%;
  }
  
  to {
    opacity: 100%;
  }
  
  }


#github:hover {
  transform: scale(1.15);
  transition-duration: .33s;
  transition-timing-function: linear;
}


#connect a:link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}


#connect a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}


#connect a:hover {
  text-decoration: none;
  color: red;
}


#connect a:active {
  text-decoration: none;
  color: white;
}


dt a {
  font-size: 2em;
  text-decoration: none;
}

dt a:link {
  color: var(--colormain);
}

dt a:visited {
  color: var(--colormain);
}


dt a:hover {
  color: var(--colorother2);
  transition: ease-in-out .3s;
}

dt a:focus {
  color: var(--colorother2);
}


footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: .75em;
  margin-top: 0;
  width: 100%;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#formdiv {
  font-size: 1em;
  display: block;
  text-align: center;
}


.github {

  grid-area: github;
  
}


h2 {
  font-size: 2em;
  color: white;
  grid-area: h2;
  text-align: center;
  width: 100%;
}


h3 {
  font-size: 1.5em;
  font-weight: bold;
  grid-area: h3;
  text-align: center;
}


header {
  background-color: white;
  color: black;
  display: grid;
  grid-area: header;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  ". subHeader ."
  ". connect .";

  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;

  position: -webkit-sticky;
  position: sticky;
  top: -95%;
  z-index: 2;
}

header p {
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 5px;
}

hr {
  background-color: black;
  border: 0;
  border-top: solid 4px;
  grid-area: hr;
  height: 0;
  padding: 0;
  width: 200px;
}

html {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}


#jobTitle {
animation-name: jobTitle;
animation-duration: 3s;
position: relative;
font-size: 2.5em;
}


@keyframes jobTitle {

from {
  opacity: 0%;
}

to {
  opacity: 100%;
}

}



#linkedin {
  justify-self: start;
}


main {
  display: grid;
  grid-area: main;
  grid-column: 1fr;
  position: relative;

}


#message {
  font-size: 1em;
  height: 15em;
  width: 30em;
}


#subHeader {
  grid-area: subHeader;
  margin-top: 10em;
}


#name {
  animation-name: name;
  animation-duration: 3s;
  position: relative;
  font-size: 3em;
}


@keyframes name {

  from {
    top: -100%;
  }

  to {
    top: 0%;
  }

}

nav a{
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: var(--colorother2);
  transition: ease-in-out .1s;
}

nav li {
  margin-left: 3em;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

p {
  margin: 1em;
}


.projectName{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}


section {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 15px;
  padding-top: 15px;
}

section:nth-child(even) {
  
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}


#sourceCodeProject {
  display: grid;
  grid-area: sourceCode;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .25fr auto 1fr .5fr;
  grid-template-areas: 
  "title title title"
  "image image image"
  "description description description"
  "tools tools tools"
  "view video github";
  justify-items: center;
  margin-top: 2em;
}


.toolsUsed {
  display: block;
  grid-area: tools;
  justify-self: left;
  padding-top: 0;
  margin-top: 0;
}


#yatzyProject {
  display: grid;
  grid-area: yatzy;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .25fr auto 1fr .5fr;
  grid-template-areas: 
  "title title title"
  "image image image"
  "description description description"
  "tools tools tools"
  "view video github";
  justify-items: center;
  margin-top: 2em;
}


#bugTrackerApp {
  align-items: center;
  display: grid;
  grid-area: bugTracker;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr auto 1fr .5fr;
  grid-template-areas: 
  "title title"
  "image image"
  "description description"
  "tools tools"
  "video github";
  justify-items: center;
  width: 100%;


  margin-top: 2em;
}


.view {
  grid-area: view;
  
}


#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "h2 h2 h2"
  "hr hr hr"
  "bugTracker yatzy sourceCode";


  position: relative;
  animation-name: projects;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}


@keyframes projects {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }

}


.projectimage {
  display: block;
  grid-area: image;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 100%;
}


.projectTitle {
  font-size: 1.5em;
  font-weight: bold;
  grid-area: title;
  text-align: center;
  padding-bottom: 15px;

}


.projectdescription {
  grid-area: description;
  text-align: center;
}


.projectlinks a:link{
  color: var(--colorother1);
  font-weight: bold;
  text-decoration: none;
}

.projectlinks a:visited{
  color: var(--colorother1);
}


.video {
  grid-area: video;
}

/* 
/*tablet view*/
@media only screen and (max-width: 750px) {
  #name {
    font-size: 2em;
  }

  #jobTitle {
    font-size: 2em;
  }

  #email {
    transform: scale(.50);
  }


  #email:hover {
    transform: scale(.75);
    transition-duration: .33s;
    transition-timing-function: linear;
  }


  #linkedin {
    transform: scale(.50);  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }


  #linkedin:hover {
    transform: scale(.75);
    transition-duration: .33s;
    transition-timing-function: linear;
  }


  #github {
    transform: scale(.50);
  }

  
  #github:hover {
    transform: scale(.75);
    transition-duration: .33s;
    transition-timing-function: linear;
  }


  #projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h2"
    "hr"
    "sourceCode"
    "yatzy"
    "bugTracker";
  
  
    position: relative;
    animation-name: projects;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    
  }


  header{

    grid-template-columns: .1fr 1fr .1fr;

    top: -70%;
    padding-bottom: -55px;

  }


  #subHeader {
    grid-area: subHeader;
    margin-top: 2em;
  }


  #projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h2"
    "hr"
    "bugTracker"
    "yatzy"
    "sourceCode";
  
  
    position: relative;
    animation-name: projects;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    
  }
}

/*mobile view*/
@media only screen and (max-width: 400px) {


  #name{
    transform: scale(.80);
  }


  #jobTitle{
    transform: scale(.50);
  }

  #email {
    justify-self: start;
    transform: scale(.50);

  }


  #email:hover {
    transform: scale(.75);
    transition-duration: .33s;
    transition-timing-function: linear;
  }



  #linkedin {
    transform: scale(.50);  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


  #linkedin:hover {
    transform: scale(.75);
    transition-duration: .33s;
    transition-timing-function: linear;
  }


  #github {
    transform: scale(.50);
  }

  
  #github:hover {
    transform: scale(.75);
    transition-duration: .33s;
    transition-timing-function: linear;
  }

  header {
    grid-template-columns: 1fr 1fr 1fr;

    top: -60%;
    padding-bottom: -55px;
  }


}