* {
	margin: 0;
}

:root {
	--colorMain: #004380;
	--colorMainDark: #002545;
	--colorOther1: #C5A500;
	--colorOther2: #C50A00;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#side-bio {
	position: fixed;
	height: 100%;
	display: sticky;
	top: 0;
	width: 20%;
	grid-area: sideBio;
	background-color: var(--colorMainDark);
}

#bio-name {
	color: white;
	padding-top: 1rem;
	z-index: 10;
}

#bio-title {
	color: white;
	text-align: center;
	z-index: 10;
}

#bio-img {
	border: solid 3px #ffffff;
	width: 150px;
	margin: auto;
	display: block;
	border-radius: 50%;
	margin-top: 25px;
	margin-bottom: 25px;
}

#bio-linkedin {
	display: inline-block;
	width: 55px;
	margin-right: 5px;
}

.centerText {
	text-align: center;
}

#bio-github {
	display: inline-block;
	width: 55px;
	margin-left: 5px;
}

#bio-text {
	color: white;
	margin-top: 25px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	;
}

ul {
	list-style-type: none;
	/* Remove bullets from unordered list */
	padding: 0;
	/* Remove default padding */
}

#bucketListMoviesProject {
	grid-area: bucketListMoviesProject;
}

#bugTrackerApp {
	grid-area: bugTracker;
}

a:link {
	color: whitesmoke;
	text-decoration: none;
}

header a:hover {
	color: gray;
	transition-duration: 300ms;
}

a:visited {
	color: whitesmoke;
}


#footer {
	color: white;
	margin: 0;
	height: 55px;
	width: 20%;
	position: fixed;
	bottom: 0rem;
	z-index: 10;
}

#footer a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

#footer p {
	padding: 5px;
	font-size: 12px;
	margin-top: 0;
	text-align: center;
}

.github {
	grid-area: github;
}

.github button {
	align-items: center;
	appearance: none;
	background-clip: padding-box;
	background-color: initial;
	background-image: none;
	border-style: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	flex-direction: row;
	flex-shrink: 0;
	/* font-family: Eina01,sans-serif; */
	font-size: 16px;
	font-weight: 800;
	justify-content: center;
	line-height: 24px;
	margin: 0;
	min-height: 64px;
	outline: none;
	overflow: visible;
	padding: 19px 26px;
	pointer-events: auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	width: auto;
	word-break: keep-all;
	z-index: 0;
}

.github button:before,
.github button:after {
	border-radius: 80px;
}

.github button:before {
	background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

.github button:after {
	background-color: initial;
	background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
	bottom: 4px;
	content: "";
	display: block;
	left: 4px;
	overflow: hidden;
	position: absolute;
	right: 4px;
	top: 4px;
	transition: all 100ms ease-out;
	z-index: -1;
}

.github button:hover:not(:disabled):before {
	background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.github button:hover:not(:disabled):after {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transition-timing-function: ease-in;
	opacity: 0;
}

.github button:active:not(:disabled) {
	color: #ccc;
}

.github button:active:not(:disabled):before {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.github button:active:not(:disabled):after {
	background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
	bottom: 4px;
	left: 4px;
	right: 4px;
	top: 4px;
}

.github button:disabled {
	cursor: default;
	opacity: .24;
}

h1 {
	font-size: 1rem;
	text-align: center;
	color: white;
}

h2 {
	grid-area: h2;
	text-align: center;
}

header {
	background: var(--colorMainDark);
	display: flex;
	flex-direction: row;
	grid-area: header;
	height: 3rem;
	z-index: 5;
}

#headerProjects {
	animation-name: headerProjects;
	display: grid;
	grid-area: headerProjects;
}


#headerLinkedIn {
	animation-name: headerLinkedIn;
	display: grid;
	grid-area: headerLinkedIn;
}


#headerContact {
	grid-area: headerContact;
	display: grid;
	animation-name: headerContact;
}

.headerStyle {
	align-self: center;
	animation-duration: 3s;
	display: flex;
	justify-self: end;
	font-size: 1em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	transform: scale(1.0);
	transition-duration: .25s;
	transition-timing-function: linear;
}

#main-content {
	overflow-y: auto;
	/* Allow the main content to scroll if needed */
	justify-self: right;
	/* height: 100vh; */
	width: 80%;
}

#jobTitle {
	font-size: .75rem;
}

#name {
	font-size: 100%;
	text-align: center;
}

.nav-toggle {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
	outline: 3px solid rgb(235, 164, 0);
}

.nav-toggle-label {
	top: 0;
	left: 0;
	padding-top: 1.45rem;
	padding-left: .5rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: rgb(255, 255, 255);
	height: .3em;
	width: 3em;
	border-radius: 3px;
	position: relative;
	top: -10;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 15px;
}

.nav-toggle-label span::after {
	top: 15px;
}

nav {
	background: var(--colorMain);
	color: #fff;
	font-size: 1em;
	height: 150px;
	left: 0;
	padding-top: 2rem;
	position: absolute;
	text-align: left;
	transform-origin: top;
	transform: scale(1, 0);
	transition: transform 200ms ease-in-out;
	width: 66vw;
	z-index: 100;
}

nav ul {
	background-color: var(--maincolor);
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul ul {
	background-color: var(--maincolor);
	display: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	font-size: 1em;
	padding: .3em;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 50ms ease-in-out;
}

nav a:link {
	color: #fff;
}

nav a:visited {
	color: #fff;
}

nav a:focus {
	color: var(--secondarycolor2);
}

nav a:hover {
	color: var(--secondarycolor2);
	transition: .3s ease;
}

.nav-toggle:checked~nav {
	height: 100vh;
	transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
	opacity: 1;
	transition: opacity 5ms ease-in-out 10ms;
}

#page-layout {
	/* height: 100vh; */
	display: grid;
	position: relative;
	grid-template-areas:
		"projects";
	background-color: black;
}

#projects {
	grid-template-columns: .15fr .7fr .15fr;
	grid-template-areas:
		". h2 ."
		". hr ."
		". bucketListMoviesProject ."
		". bugTracker ."
		". yatzy ."
		". sourceCode .";
	margin: 0 auto;
	padding-top: 1rem;
}

.project-description {
	grid-area: description;
	text-align: center;
	color: white;
}

.project-image {
	border: 5px solid white;
	border-radius: 10px;
	grid-area: project-image;
	width: 250px;
}

.project-title {
	display: flex;
	align-self: center;
	font-size: .75rem;
	grid-area: title;
	color: white;
}

.projectLayout {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .25fr 1fr .25fr .5fr;
	grid-template-areas:
		"title title"
		"project-image project-image"
		"description description"
		"view github";
	justify-items: center;
	margin: 0em;
	padding-left: .5rem;
	padding-right: .5rem;
}

.social {
	grid-area: social;
	width: 50%;
}

#sourceCodeProject {
	grid-area: sourceCode;
}

.view {
	grid-area: view;
}

.view button {
	align-items: center;
	appearance: none;
	background-clip: padding-box;
	background-color: initial;
	background-image: none;
	border-style: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	flex-direction: row;
	flex-shrink: 0;
	/* font-family: Eina01,sans-serif; */
	font-size: 16px;
	font-weight: 800;
	justify-content: center;
	line-height: 24px;
	margin: 0;
	min-height: 64px;
	outline: none;
	overflow: visible;
	padding: 19px 26px;
	pointer-events: auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	width: auto;
	word-break: keep-all;
	z-index: 0;
}

.view button:before,
.view button:after {
	border-radius: 80px;
}

.view button:before {
	background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

.view button:after {
	background-color: initial;
	background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
	bottom: 4px;
	content: "";
	display: block;
	left: 4px;
	overflow: hidden;
	position: absolute;
	right: 4px;
	top: 4px;
	transition: all 100ms ease-out;
	z-index: -1;
}

.view button:hover:not(:disabled):before {
	background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.view button:hover:not(:disabled):after {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transition-timing-function: ease-in;
	opacity: 0;
}

.view button:active:not(:disabled) {
	color: #ccc;
}

.view button:active:not(:disabled):before {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.view button:active:not(:disabled):after {
	background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
	bottom: 4px;
	left: 4px;
	right: 4px;
	top: 4px;
}

.view button:disabled {
	cursor: default;
	opacity: .24;
}

#yatzyProject {
	grid-area: yatzy;
}

@media only screen and (max-width: 650px) {

	.project-description {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.project-image {
		width: 170px;
		border: 2px solid white;
	}

	#main-content {
		width: 75%;
		justify-self: right;
	}

	#side-bio {
		width: 25%;
	}

	#bio-name {
		color: white;
		font-size: 12px;
		padding-top: 10px;
		z-index: 10;
	}

	#bio-title {
		color: white;
		font-size: 10px;
		text-align: center;
		z-index: 10;
	}

	#bio-img {
		border: solid 3px #ffffff;
		width: 50px;
		margin: auto;
		display: block;
		border-radius: 50%;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#bio-linkedin {
		display: inline-block;
		width: 25px;
		margin-right: 5px;
	}

	.centerText {
		text-align: center;
	}

	#bio-github {
		display: inline-block;
		width: 25px;
		margin-left: 5px;
	}

	#bio-text {
		color: white;
		margin-top: 25px;
		text-align: justify;
		padding-left: 20px;
		padding-right: 20px;
	}

	#footer {}

	#footer p {
		font-size: 10px;
	}

	.view button {
		min-height: 0;
		padding: 10px 20px;
		font-weight: 700;
	}

	.github button {
		min-height: 0;
		padding: 10px 20px;
		font-weight: 700;
	}

}

@media only screen and (max-width: 1000px) {

	.project-description {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.project-image {
		width: 170px;
		border: 2px solid white;
	}

	#main-content {
		width: 75%;
		justify-self: right;
	}

	#side-bio {
		width: 25%;
	}

	#bio-name {
		color: white;
		font-size: 12px;
		padding-top: 10px;
		z-index: 10;
	}

	#bio-title {
		color: white;
		font-size: 10px;
		text-align: center;
		z-index: 10;
	}

	#bio-img {
		border: solid 3px #ffffff;
		width: 50px;
		margin: auto;
		display: block;
		border-radius: 50%;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#bio-linkedin {
		display: inline-block;
		width: 25px;
		margin-right: 5px;
	}

	.centerText {
		text-align: center;
	}

	#bio-github {
		display: inline-block;
		width: 25px;
		margin-left: 5px;
	}

	#bio-text {
		color: white;
		margin-top: 25px;
		text-align: justify;
		margin-left: auto;
		margin-right: auto;
	}

	#footer {}

	#footer p {
		font-size: 10px;
	}

	.view button {
		min-height: 0;
		padding: 10px 20px;
		font-weight: 700;
	}

	.github button {
		min-height: 0;
		padding: 10px 20px;
		font-weight: 700;
	}
}